/* 🌙 Dark Theme */
$dark-body-bg: #161E31;
$dark-card-bg: #0E131F;
$dark-text: #CBD5E1;

/* ☀️ Light Theme */
$light-body-bg: #f8FAFC;
$light-card-bg: #B9C4DF;
$light-button-text: #F1F9F9;
$light-text: #1E293B;
